
body {
    background-color: rgb(36, 59, 52);
}

.logo-layer {
    background-color: transparent;
    padding: 8px;
}

.video {
    display: flex;
    justify-content: center;
}

.video>img {
    padding: 5%;
    min-width: 50%;
    max-width: 80%;
    max-height: 250px;
    
}

.introduction,.about {
    text-align:justify;
    color: rgb(160, 197, 129);
    margin: 10px auto 0 auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}

header {
    font-family: monospace;
    font-size: 18px;
    padding: 20px 0 ;
    color: rgb(182, 197, 129);
    text-align: center;
}
.inshot {
    display: flex;
    justify-content: center;
}
.inshot > img {
    max-width: 500px;
    min-width: 350px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

footer > p {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(160, 197, 129);
    margin: -5px auto;
    text-align:center;
}

a {
    color: rgb(182, 197, 129);
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
    font-size: 12px;
}

.imgHolder, .imgHolder>img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: 1000ms border-color linear 500ms;
}

.textHolder {
    width: 150px;
    height: 40px;
    border: 1px solid rgba(46, 139, 86, 0.199);
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(74, 128, 130);
    border-radius: 5px;
}
.textHolder:active {
    background-color: rgb(44, 94, 77);
}
.showcase {
    display: flex;
    justify-content:space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 5px;
}