
body {
    background-image: url('https://pixy.org/src/477/4774988.jpg');
}
.logo-layer {
    gap: 25px;
    background-color: transparent;
    padding: 7px;
}

a {
    color: #bfc9c2;
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
}

.video {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.video>img {
    max-width: 500px;
    max-height: 250px;
}

.introduction {
    text-align: center;
    color: rgb(255, 212, 118);
    margin: 10px auto 0 auto;
    max-width: 800px;
}

.introduction > h1 {
    font-size: 18px;
}
.introduction > h3 {
    font-size: 15px;
}

.net {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    gap: 5px;
    max-width: 200px;
}