
body {
    background-image: url('https://github.com/Mave3624/Mave3624/blob/main/img/4774988.jpg?raw=true');
}
.logo-layer {
    gap: 25px;
    background-color: transparent;
    padding: 7px;
}

a {
    color: #bfc9c2;
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
}

.video {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -50px;
}
.video>img {
    max-width: 500px;
    max-height: 250px;
}
.gif {
    animation: play 2s steps(10) infinite;
}
@keyframes play {
    0% {background-position: 0 0;}
    100% {background-position: -500px 0;}
}

.introduction {
    text-align: center;
    color: rgb(255, 212, 118);
    margin: 10px auto 0 auto;
    max-width: 800px;
}

.introduction > h1 {
    font-size: 15px;
}
.introduction > h3 {
    font-size: 12px;
}

.net {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    gap: 5px;
    max-width: 200px;
}